<h1>List Product</h1>
<div class="row">
    <div class='col-md-12'>
        <% flash.each do |type, message| %>
          <div class="alert alert-<%= bootstrap_class_for(type) %> fade in">
            <button class="close" data-dismiss="alert">×</button>
            <%= message %>
          </div>
        <% end %>
    </div>
    <% @products.each do |product| %>
        <div class="col-md-3">
            <div class="product-wrapper">
                <%= image_tag product.image.url(:medium) %>
                <br>
                <a href="<%= product_detail_path(product.id)%>"><%= product.name %></a>
                <p>Price: $<%= product.price%></p>
                <p>Quantity: <%= product.quantity%></p>
                <a href="<%= product_cart_path(product.id) %>" class="btn btn-primary btn-sm">add to chart</a>
            </div>
        </div>
    <% end %>
</div>
